* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #000;
  color: #fff;
  height: 60px;
}

main {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
}
ul, ol, li {
  list-style: none;
}

h1 {
  text-align: center;
}

.nav {
  display: flex;
  width: auto;
  gap: 10px;
}

.header__link {
  color: #fff;
}

.list {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0 auto;
  padding: 20px;
}

.books__page {
  width: 120px;
  align-items: center;
  text-align: center;
  position: relative;
  margin: 16px auto;
}

.books__page::before{
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 6px;
  background: #5dc3e8;
  border-radius: 15px;
}

.book {
  position: relative;
  width: 210px;
  height: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #a3a1a1;
  padding: 6px 10px 10px;
  text-align: start;
  cursor: pointer;
}

.book__img {
  margin-bottom: 12px;
}

.book__title {
  text-align: center;
  font-size: 14px;
  height: 30px;
  margin: 0 auto 12px;
}

.book__links {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.book__link {
  color: #000;
  text-decoration: none;
  transition: color 0.2s linear;
}

.book__link:hover {
  color: #ff0000;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
}

.cost {
  font-size: 12px;
}

.cost > span {
  font-weight: bold;
}

.descr {
  font-size: 10px;
  word-wrap: break-word;
}

.active {
  color: #5dc3e8;
}

.not__found {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 0 auto;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.not__found-link {
  color: #000;
}

.not__found-link:hover {
  color: #ff0000;
}

.book__page {
  position: relative;
  width: 90%;
  margin: 0 auto;
}